.header{
	position: absolute;
	padding-top: 25px;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}
.nav{
}

.menu-list{
	gap: 0 40px;
	padding-bottom: 30px;
}
.menu-left{
	padding-left: 20px;
}

.menu-right{
	padding-right: 85px;
}


.menu-link{
	line-height: 1.2;
}
.promo{
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #040404;
}

.promo__inner{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
	padding-top: 105px;
}
.promo__text{
	color: #363636;
	margin-bottom: 10px;
}
.title {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 76px;
	margin-bottom: 10px;
}
.subtitle {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 48px;
	border-bottom: 1px solid #040404;
	text-transform: none;
	align-self: center;
	margin-bottom: 10px;
}

.subtitle span{
	display: block;
	font-size: 34px;
	color: #9F6B08;
	padding: 10px 0;
}
.promo__arrow{
	margin-top: auto;
	margin-bottom: 30px;
	align-self: center;
}

.info{
	margin-bottom: 100px;
}
.info__part{
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
}
.info__part--first{
	display: block;
}
.info__part--third{
	padding-top: 66px;
}
.info__title{
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 30px;
}
.info__part-textbox{
	display: flex;
	justify-content: space-between;
	gap: 0 20px;
}
.info__text{
	flex-basis: 440px;
	margin-bottom: 30px;
}
.info__part-img{
	object-fit: cover;
}
.info__content{
	flex-basis: 525px;
	margin-right: 50px;
}
.info__part--second .info__text{
	max-width: 388px;
}
.info__table::before{
	content: "";
	position: absolute;
	border-top: 1px solid #000;
	width: 100%;
	top: -20px;
}
.info__table{
	position: relative;
	flex-basis: 450px;
	border-bottom: 1px solid #040404;
	top: 20px;
}
.info__table td{
	padding-bottom: 20px;
}

.track{
	background-image: url("../images/gran_final_01 1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.track__inner{
	display: flex;
	flex-direction: column;
	min-width: 100vh;
}

.track__content{
	
}

.track__title{
	padding-top: 50px;
	padding-bottom: 30px;
}

.track__text{
	max-width: 435px;
	line-height: 120%;
}
.track__img{
	margin: auto auto 200px 130px;
}